mixin card(product)
	+b({ tag: 'label', metadata: { content_type: 'block' } }).card(for=product.id)&attributes(attributes)
		+e.slogan= product.slogan
		+e.question Котэ не одобряет?
		+e.name= product.name
		+e.taste= product.taste
		+e.description
			span= product.description.portions.value + ' '
			= product.description.portions.text
		+e.description
			span= product.description.bonus.value + ' '
			= product.description.bonus.text
		if product.description.portions.value >= 100
			+e.description заказчик доволен
		+e.tag
			span #{product.weight.value}
			| #{product.weight.unitsOfMeasurement}
